<div class="col-md-3">
    <div class="form-group">
      <label for="exampleInputPassword1">First Name</label>
      <input 
      #fistNameInput
      type="text" class="form-control" id="exampleInputPassword1" 
      placeholder="Fist Name"
      (input) ="onInput(fistNameInput.value)"
      [value] = "FirstName">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="text" 
      class="form-control" 
      id="exampleInputPassword1" 
      placeholder="LastName"
      #lastNameInput
      (input) ="onInputLastName(lastNameInput.value)"
      [value] = "LastName">
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    <button type="button" (click) ="getUserName(fistNameInput.value,lastNameInput.value)" class="btn btn-success">Add User</button>
  </div>